.parent{
    display:flex;
}
.child1{
    padding: 50px;
    background: green;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.child2{
    padding: 50px;
    background: red;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.child3{
    padding: 50px;
    background: blue;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
